<nav>
  <div class="main-bar" style="background-color: #131313">
    <div class="sub-bar">
      <a routerLink="/">
        <img
          src="assets/main_logo.png"
          alt="Spooky Manor Software"
          height="105rem"
          style="vertical-align: middle; padding-left: 2rem"
        />
      </a>
      <div class="right-side">
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/games"
          ><b>GAMES</b></a
        >
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/projects"
          ><b>PROJECTS</b></a
        >
        <a
          class="button right-side-item"
          style="text-decoration: none"
          routerLink="/members"
          ><b>MEMBERS</b></a
        >
      </div>
    </div>
  </div>
</nav>
